<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>MarionetteJS Simple Application</title>

		<!-- BEGIN Import block -->
			<!-- Import CSS libraries -->
				<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
				<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
			<!-- /Import CSS libraries -->
		<!-- END Import block -->
	</head>
	<body>

		<!-- BEGIN Init Main block -->
			<div id="form"></div>
			<!-- /#form -->
			<div id="list"></div>
			<!-- /#list -->
		<!-- END Init Main block -->


	    <script id="userView" type="text/x-handlebars-template">
		    <p>
			    Name: <%= name %>
		    </p>
		    <p>
			    Age: <%= age %>
		    </p>
	    </script>
		<!-- /#userView-->


		<script id="usersView" type="text/x-handlebars-template">
			<h2>
					Users
			</h2>
		</script>
		<!-- /#usersView-->

		<script id="noUsersView" type="text/x-handlebars-template">
			<h2>
				No Users
			</h2>
		</script>
		<!-- /#noUsersView-->









		<!-- BEGIN Import block -->
			<!-- Import JS libraries -->
				<script src="bower_components/jquery/dist/jquery.min.js"></script>
				<script src="bower_components/underscore/underscore-min.js"></script>
				<script src="bower_components/backbone/backbone-min.js"></script>
				<script src="bower_components/marionette/lib/backbone.marionette.min.js"></script>
			<!-- /Import JS libraries-->

			<!-- Init Project -->
				<script src="app/app.js"></script>
			<!-- /Init Project-->
		<!-- END Import block -->
	</body>
</html>